/* Général */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #292929;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    flex: 1;
}

.logo {
    max-height: 50px;
    width: auto;
}

nav {
    flex: 2;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fece0a;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.hero {
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 2;
}

.hero-heading,
.hero-paragraph {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-content.active .hero-heading,
.hero-content.active .hero-paragraph {
    opacity: 1;
}

@keyframes slideBackground1 {
    0% {
        background-image: url('../images/hero-background1.jpg');
    }

    100% {
        background-image: url('../images/hero-background1.jpg');
    }
}

@keyframes slideBackground2 {
    0% {
        background-image: url('../images/hero-background2.jpg');
    }

    100% {
        background-image: url('../images/hero-background2.jpg');
    }
}

@keyframes slideBackground3 {
    0% {
        background-image: url('../images/hero-background3.jpg');
    }

    100% {
        background-image: url('../images/hero-background3.jpg');
    }
}

@keyframes slideBackground4 {
    0% {
        background-image: url('../images/hero-background4.jpg');
    }

    100% {
        background-image: url('../images/hero-background4.jpg');
    }
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    animation: slideBackground1 16s infinite;
}

@media (max-width: 768px) {
    .hero {
        height: 250px;
    }
}

.about {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
}

.graphs {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.chart-container {
    margin-bottom: 20px;
}

.cta {
    padding: 20px;
    background-color: #fece0a;
    color: #292929;
    border-radius: 8px;
    text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #292929;
    color: #fece0a;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: #292929;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .chart-container {
        height: 250px;
    }
}