/* Général */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #292929;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    flex: 1;
}

.logo {
    max-height: 50px;
    width: auto;
}

nav {
    flex: 2;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fece0a;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 120px 20px 60px;
    text-align: center;
    border-radius: 10px;
    margin: 40px 20px;
    margin-top: 120px;
    /* Augmente cette valeur pour créer plus d'espace */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-image 1s ease-in-out;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-content.active {
    opacity: 1;
}

.hidden {
    display: none;
}




.about {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
}

.graphs {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.chart-container {
    margin-bottom: 20px;
}

.cta {
    padding: 20px;
    background-color: #fece0a;
    color: #292929;
    border-radius: 8px;
    text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #292929;
    color: #fece0a;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: #292929;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .chart-container {
        height: 250px;
    }
}